body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
}

.container{
    width:400px;
    margin:50px auto;
    background:#fff;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

h2{
    text-align:center;
}

button{
    width:100%;
    padding:10px;
    background:#007bff;
    color:#fff;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}